.cat-grid {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr)); 
  row-gap: 15px;
  column-gap: clamp(10px, 2vw, 35px);
  justify-content: center;
}
